body{background-color: rgb(171, 184, 201);}
img{border: 5px solid black}
h1{background-color: rgb(136, 136, 206);
text-align: center; margin:10px}
h2{background-color: rgb(199, 130, 141);}
p{font-size: larger;font-weight: bolder;}
ul{font-size: larger;font-weight: bolder;}
hr{background-color:black}
